name: docker build image master
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v1
      - name: Docker Login
        run: docker login --username=awesomepayne --password=wzp071912
      - name: Build AND push the Docker Image
        run: |
          IMAGE_NAME="awesomepayne/awesomedjango"
          VERSION=`git describe --always --tag`
          REPOSITORY=docker.io/${IMAGE_NAME}:${GIT_VERSION}
          docker build -t $REPOSITORY -f Deploy/Dockerfile .
          docker push $REPOSITORY
#          regex='^([0-9]+\.){0,2}(\*|[0-9]+)$'
#          if [[ $tag =~ $regex ]]; then
#            echo "Build Stable Version '$tag'"
#            docker tag awesomepayne/awesomedjango:$tag awesomepayne/awesomedjango:latest
#            docker push awesomepayne/awesomedjango:latest
#          fi